In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('./data/imdb.csv')
df.head()
df.tail()
df.head(3)
df.tail(3)
df.info()
df.columns
df.Rank.head()
df.rename(columns={
    "Runtime (Minutes)": "Runtime_Minutes",
    "Revenue (Millions)": "Revenue_Millions"}, inplace=True)
df.Runtime_Minutes.mean()
df.info()
df.isna().sum()
df.Metascore.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              1000 non-null   int64
 1   Title             1000 non-null   object
 2   Genre             1000 non-null   object
 3   Description       1000 non-null   object
 4   Director          1000 non-null   object
 5   Actors            1000 non-null   object
 6   Year              1000 non-null   int64
 7   Runtime_Minutes   1000 non-null   int64
 8   Rating            1000 non-null   float64
 9   Votes             1000 non-null   int64
 10  Revenue_Millions  872 non-null    float64
 11  Metascore         936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

np.int64(64)

In [ ]:
df.dropna(inplace=True)
df.info()
df.describe()
plt.hist(df['Metascore'], bins=10)